$def with(datos)
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Eliminar Comando</h1><br>
      
    <form method="POST">
      <label for="nombre">Nombre</label>
      <input type="text" readonly="true" value="$datos.nombre" id="nombre" name="nombre">
      <br>
      <label for="descripcion">Descripcion</label>
      <input type="text" value="$datos.descripcion" id="descripcion" name="descripcion">
      <br>
      <center><button type="submit" class="btn btn-primary btn-lg">Eliminar</button></center>
    </form>    
  </div>
</div>